<!-- MySQL -->

DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=

<!-- jsonwebtoken secret key -->

JWT_KEY=

<!-- credentials to email -->
NODEMAILER_USERNAME=
NODEMAILER_PASSWORD=

<!-- npm package web-push (web-push generate-vapid-keys) -->

PRIVATE_VAPID_KEY=
REACT_APP_PUBLIC_VAPID_KEY=

<!-- credentials for storage from https://cloudinary.com -->

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

<!-- it's needed for heroku to install dev dependencies -->

NPM_CONFIG_PRODUCTION=false
