*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    color: black;
    letter-spacing: 1px;
    font-family: 'Kalam', cursive;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
    height: 100%;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

dialog {
    border: none;
}

label,
dialog {
    display: block;
}

button,
input {
    display: block;
    background: none;
    border: none;
    filter: none;
}

button {
    font-size: 16px;
    cursor: pointer;
    &::-moz-focus-inner {
        border: 0px;
    }
}

input {
    &::placeholder {
        color: black;
    }
    &:-webkit-autofill {
        transition: background-color 9999s ease-in-out 0s;
        -webkit-text-fill-color: black;
    }
}

img {
    text-indent: -999px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-align: center;
    font-weight: normal;
}
